.container {
    width: 50%;
    margin: 20px auto 0px auto;
}

.removed{
    color: rgb(1, 68, 57);
}

.removed label{
    text-decoration: line-through;
}

ul li{
    list-style-type: none;
}

body{
    background-color: rgb(165, 249, 227);
}

h3{
    color:rgb(1, 68, 57);
    font-family:Optima,Arial, sans-serif;
}

em{
    color:rgb(1, 68, 57);
}